.table {
    margin: 0 auto 50px auto;
    text-align: center;
}

.table thead {
    background-color: #20232a;
}

.table td, .table th, .table thead th {
    border-color: #38638d;
    width: 33%;
}

.table td {
    position: relative;
}

.table td:hover {
    background-color: #353f47;
}

.icon {
    height: 20px;
    width: 20px;
}

.icon:hover {
    height: 21px;
    width: 21px;
}

.editIcon {
    position: absolute;
    right: 10px;
}

.saveIcon {
    position: absolute;
    right: 32px;
}

.disableIcon {
    opacity: 0.3;
}

.closeIcon {
    position: absolute;
    right: 5px;
}

.editInput {
    background-color: transparent;
    text-align: center;
    color: #d9d9d9;
    border: none;
    margin: 0;
    padding: 0;
    outline: none;
}

.error {
    color: white;
    text-align: center;
    margin-bottom: 100px;
}
